<div class="product-price">

  {%- if product_price_varies -%}

    <span class="product-price--original" data-js-product-price-original>
      {%- liquid
        assign price = target.price | money
        if target.compare_at_price > target.price or target.compare_at_price_varies
          echo 'products.grid.on_sale_from_html' | t: price: price 
        else
          echo 'products.grid.from_text_html' | t: price: price 
        endif
      -%}
    </span>

  {%- else -%}

    <span class="product-price--original {{ text_size_class }}" data-js-product-price-original>{{ target.price | money }}</span>
    
    <del class="product-price--compare" data-js-product-price-compare>
      {%- liquid 
        if target.compare_at_price > target.price
          echo target.compare_at_price | money | prepend: '<span>' | append: '</span>'
          if show_saving
            assign saving = target.compare_at_price | minus: target.price | money
            echo 'products.page.sales_amount_html' | t: amount: saving | prepend: '<span>' | append: '</span>'
          endif
        endif
      -%}
    </del>

  {%- endif -%}

  <span class="product-price--unit text-size--regular" data-js-product-price-unit>
    {%- liquid
      if variant.unit_price_measurement
        echo variant.unit_price | money
        echo ' / '
        if variant.unit_price_measurement.reference_value != 1
          echo variant.unit_price_measurement.reference_value
        endif
        echo variant.unit_price_measurement.reference_unit
      endif
    -%}
  </span>

</div>