<div class="mobile-header-usp" data-hook-header-usp="" data-loaded-header-usp="">
  <div class="mobile-m-usp-bar o-container swiper-container">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="mobile-a-usp usp--icon usp-bar__item">
          <div class="mobile-usp__content">
            <div class="mobile-usp__text">
<svg height="512" viewBox="0 0 25 25" width="512" xmlns="http://www.w3.org/2000/svg" class="usp__icon">
    <g id="Layer_11" data-name="Layer 11">
        <path fill="white" d="m12.5 2a10.5 10.5 0 1 0 10.5 10.5 10.51 10.51 0 0 0 -10.5-10.5zm0 20a9.5 9.5 0 1 1 9.5-9.5 9.51 9.51 0 0 1 -9.5 9.5z"></path>
        <path fill="white" d="m16 13.13-3-1v-5.63a.5.5 0 0 0 -1 0v6a.49.49 0 0 0 .34.47l3.32 1.11a.41.41 0 0 0 .16 0 .5.5 0 0 0 .47-.35.49.49 0 0 0 -.29-.6z"></path>
    </g>
</svg>
              <div id="shippingInfo">
                <!-- Tekst wordt dynamisch geladen met JavaScript -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="mobile-a-usp usp--icon usp-bar__item">
          <div class="mobile-usp__content">
            <div class="mobile-usp__text">
<svg class="usp__icon" id="fi_2769339" height="512" viewBox="0 0 48 48" width="512" xmlns="http://www.w3.org/2000/svg">
    <path fill="white" d="m41.211 37.288a4.112 4.112 0 1 1 4.109-4.112 4.114 4.114 0 0 1 -4.109 4.112zm0-6.724a2.612 2.612 0 1 0 2.609 2.612 2.613 2.613 0 0 0 -2.609-2.612z"></path>
    <path fill="white" d="m19.542 37.288a4.112 4.112 0 1 1 4.108-4.112 4.115 4.115 0 0 1 -4.108 4.112zm0-6.724a2.612 2.612 0 1 0 2.608 2.612 2.614 2.614 0 0 0 -2.608-2.612z"></path>
    <path fill="white" d="m46.621 33.926h-2.051a.75.75 0 0 1 0-1.5h1.839v-3.977a3.16 3.16 0 0 0 -.4-1.536l-4.06-7.279a.4.4 0 0 0 -.349-.205h-5.533v13h1.786a.75.75 0 0 1 0 1.5h-2.536a.75.75 0 0 1 -.75-.75v-14.5a.75.75 0 0 1 .75-.75h6.283a1.9 1.9 0 0 1 1.66.974l4.059 7.28a4.662 4.662 0 0 1 .589 2.266v4.19a1.289 1.289 0 0 1 -1.287 1.287z"></path>
    <path fill="white" d="m16.183 33.926h-7.191a.75.75 0 0 1 -.75-.75v-5.768a.75.75 0 0 1 1.5 0v5.018h6.441a.75.75 0 0 1 0 1.5z"></path>
    <path fill="white" d="m8.992 24.747a.75.75 0 0 1 -.75-.75v-5.036a.75.75 0 0 1 1.5 0v5.039a.75.75 0 0 1 -.75.747z"></path>
    <path fill="white" d="m35.317 33.926h-12.417a.75.75 0 0 1 0-1.5h11.667v-19.621h-24.825v3.089a.75.75 0 0 1 -1.5 0v-3.227a1.364 1.364 0 0 1 1.363-1.362h25.1a1.364 1.364 0 0 1 1.362 1.362v20.509a.75.75 0 0 1 -.75.75z"></path>
    <path fill="white" d="m11.957 28.158h-9.519a.75.75 0 0 1 0-1.5h9.519a.75.75 0 0 1 0 1.5z"></path>
    <path fill="white" d="m19.542 24.747h-13.283a.75.75 0 0 1 0-1.5h13.283a.75.75 0 0 1 0 1.5z"></path>
    <path fill="white" d="m5.846 20.787h-5.187a.75.75 0 1 1 0-1.5h5.187a.75.75 0 0 1 0 1.5z"></path>
    <path fill="white" d="m14.163 16.644h-9.156a.75.75 0 1 1 0-1.5h9.156a.75.75 0 0 1 0 1.5z"></path>
</svg>
              <p><span class="mobile-u-text--green">Gratis</span> verzending vanaf &euro; 50,-</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <div class="mobile-a-usp usp--icon usp-bar__item">
          <div class="mobile-usp__content">
            <div class="mobile-usp__text">
              <svg class="usp__icon" id="fi_9226551" enable-background="new 0 0 512.003 512.003" height="512" viewBox="0 0 512.003 512.003" width="512" xmlns="http://www.w3.org/2000/svg">
    <g fill="white">
      <path d="m507.802 235.327-106.134-135.963c-6.729-8.619-19.213-10.158-27.83-3.43l-270.086 210.832c-2.368 1.848-4.305 4.238-5.617 6.925l-16.729-.081v-2.215c0-9.097-7.4-16.497-16.497-16.497h-48.41c-9.097 0-16.497 7.401-16.497 16.498l-.002 68.784c0 4.142 3.357 7.5 7.5 7.5 4.142 0 7.5-3.358 7.5-7.5l.001-68.784c0-.826.672-1.498 1.497-1.498h48.41c.825 0 1.497.672 1.497 1.497v127.499c0 .826-.672 1.498-1.498 1.498h-48.409c-.826 0-1.498-.673-1.498-1.498v-29.714c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v29.716c.002 9.096 7.402 16.496 16.498 16.496h48.409c9.097 0 16.498-7.401 16.498-16.498v-4.512l18.382 1.061c8.094.468 15.943 2.396 23.332 5.732l84.104 37.981c13.446 6.072 27.988 9.184 42.649 9.184 4.095 0 8.2-.243 12.292-.731l72.825-8.7c15.387-1.838 29.79-8.08 41.655-18.05 6.56-5.513 9.937-13.892 9.031-22.412-.904-8.521-5.965-16.005-13.537-20.018-8.743-4.633-19.514-3.802-27.439 2.118l-1.418 1.059c4.202-9.72 1.601-21.024-6.025-27.997l87.671-68.437c3.265-2.549 3.846-7.262 1.297-10.527-2.55-3.265-7.261-3.843-10.527-1.297l-154.585 120.671c-4.585-.646-9.041-2.083-13.168-4.271l-32.669-17.312c3.818-2.356 8.288-3.34 12.814-2.784 5.26.648 9.952 3.306 13.213 7.483 2.544 3.259 7.257 3.849 10.527 1.297l194.391-151.744c3.265-2.549 3.846-7.262 1.297-10.527-3.261-4.177-4.7-9.374-4.052-14.634s3.306-9.952 7.483-13.213c3.265-2.549 3.846-7.262 1.297-10.527l-47.047-60.271c-1.224-1.567-3.021-2.585-4.995-2.828-1.975-.246-3.964.308-5.532 1.531-4.178 3.261-9.376 4.701-14.635 4.053-5.26-.648-9.952-3.306-13.213-7.483-1.224-1.567-3.021-2.585-4.995-2.828-1.975-.245-3.965.308-5.532 1.531l-194.392 151.743c-3.265 2.549-3.846 7.262-1.297 10.527 5.383 6.896 5.477 16.267.887 23.188-7.026-14.035-21.448-23.056-37.238-23.132l-5.13-.025 263.94-206.035c2.1-1.637 5.139-1.264 6.776.836l106.134 135.963c.793 1.017 1.144 2.281.986 3.561s-.805 2.422-1.821 3.215l-56.586 44.172c-3.265 2.549-3.846 7.262-1.297 10.527 2.551 3.267 7.262 3.845 10.527 1.297l56.585-44.172c4.175-3.259 6.831-7.947 7.479-13.204.65-5.257-.788-10.451-4.047-14.626zm-182.51 168.037c4.604 2.517 6.351 8.337 3.895 12.974l-7.831 14.778-34.905 2.154 38.523-30.071c.106.052.213.107.318.165zm-148.886-92.42 183.842-143.508c5.073 4.213 11.252 6.897 17.954 7.724 6.705.819 13.348-.28 19.292-3.136l38.812 49.722c-8.618 10.415-10.42 25.037-4.588 37.233l-183.842 143.509c-5.073-4.213-11.252-6.897-17.954-7.724-5.188-.635-10.338-.119-15.156 1.469 1.713-4.964 1.814-10.326.242-15.441-1.96-6.381-6.288-11.616-12.187-14.741l-29.082-15.411-1.921-2.461c8.619-10.417 10.42-25.039 4.588-37.235zm-27.828 33.766c3.62 8.09 9.927 14.831 17.759 18.981l29.461 15.612c2.358 1.249 4.088 3.342 4.872 5.893.783 2.552.527 5.255-.723 7.613-2.557 4.824-8.582 6.702-13.4 4.204l-35.289-18.501c-3.661-1.92-8.188-.514-10.117 3.146-1.929 3.658-.531 8.188 3.123 10.124l96.656 51.22c8.961 4.749 19.051 6.932 29.172 6.304l57.783-3.565c5.814-.357 11.355-2.39 16.023-5.875l9.776-7.299c3.308-2.469 7.798-2.814 11.441-.884 3.204 1.698 5.262 4.74 5.645 8.347s-.989 7.013-3.766 9.345c-9.623 8.087-21.306 13.149-33.784 14.64l-72.825 8.7c-16.028 1.912-32.276-.585-46.988-7.228l-84.104-37.981c-9.07-4.096-18.706-6.464-28.641-7.037l-19.247-1.111v-90.747l42.779.207c10.521.05 20.096 6.289 24.394 15.892z"></path><path d="m275.718 282.352c3.219 6.236 9.15 10.118 15.479 10.133h.063c6.032 0 12.973-2.044 19.578-4.254 4.299-1.436 6.532.722 7.649 2.785 1.58 2.919 1.586 7.403-2.138 10.35-4.206 3.329-5.443 4.016-10.18 4.413-4.127.346-7.192 3.973-6.847 8.101.328 3.914 3.606 6.874 7.465 6.873.21 0 .423-.009.636-.026 5.208-.437 8.673-1.429 12.021-3.287l.712.913c1.479 1.896 3.688 2.886 5.918 2.886 1.613 0 3.239-.518 4.609-1.587 3.266-2.549 3.847-7.262 1.299-10.527l-1.212-1.553c4.95-7.569 4.552-16.965.906-23.697-5.056-9.335-15.342-13.304-25.601-9.867-5.143 1.721-10.921 3.479-14.815 3.479-.587.006-1.554-.73-2.217-2.013-.339-.658-1.336-2.963.103-4.998 4.22-5.969 10.249-8.088 10.487-8.17 3.918-1.249 6.104-5.425 4.887-9.361-1.223-3.957-5.42-6.173-9.381-4.949-.607.188-3.861 1.263-7.861 3.867-2.574-3.132-7.193-3.654-10.406-1.146-3.266 2.549-3.846 7.262-1.296 10.526l.916 1.173c-3.818 5.863-4.131 13.434-.774 19.936z"></path><path d="m31.791 228.462c1.382 4.477 4.915 7.844 9.453 9.008 4.576 1.172 9.282-.111 12.623-3.345l51.134-49.51c2.736-2.651 3.828-6.585 2.85-10.268-.979-3.682-3.879-6.555-7.572-7.498l-7.73-1.974c11.414-27.193 30.914-49.524 56.643-64.79 49.109-29.139 112.091-24.68 156.723 11.094 5.905 4.729 14.218 4.763 20.215.081l19.84-15.487c3.862-3.016 6.146-7.557 6.262-12.458.116-4.864-1.926-9.467-5.59-12.618-.031-.028-.062-.056-.095-.083-23.317-20.033-51.652-34.433-81.941-41.64-46.98-11.182-96.166-4.583-138.502 18.577-18.382 10.054-34.904 22.86-49.108 38.062-2.828 3.026-2.668 7.772.359 10.601 3.027 2.826 7.772 2.667 10.6-.36 13.113-14.032 28.369-25.855 45.345-35.141 39.074-21.374 84.473-27.461 127.831-17.146 28.372 6.752 53.82 19.68 75.639 38.425l.076.066c.267.229.397.532.389.9-.007.28-.099.681-.497.991l-19.84 15.487c-.485.378-1.16.393-1.604.037-24.025-19.257-53.026-30.729-83.866-33.176-31.55-2.497-62.64 4.719-89.891 20.888-30.127 17.876-52.556 44.504-64.864 77.009-1.063 2.813-.879 5.955.507 8.62 1.381 2.652 3.834 4.599 6.732 5.338l4.907 1.253-43.479 42.097-17.832-57.745 9.543 2.436c5.346 1.367 10.742-1.544 12.558-6.77 5.124-14.762 12.181-28.826 20.975-41.802 2.324-3.429 1.429-8.093-2-10.416-3.429-2.326-8.093-1.43-10.417 2-8.761 12.929-15.932 26.854-21.346 41.447l-13.332-3.402c-3.692-.943-7.61.185-10.234 2.944-2.625 2.758-3.557 6.73-2.433 10.365z"></path></g></svg>
      
              <p>
                Niet tevreden?
                <a
                  href="https://jonky.nl/pages/voorwaarden-niet-tevreden-geld-terug-actie-jonky-nl"
                  class="mobile-u-text--green"
                  >Geld-terug garantie</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var d = new Date();
    var n = d.getDay();
    var shippingInfo = document.getElementById('shippingInfo');

    if (n === 0 || n === 6) { // Weekends
      shippingInfo.innerHTML = 'Vandaag besteld, <span class="mobile-u-text--green">overmorgen</span> in huis.';
    } else { // Weekdays
      shippingInfo.innerHTML = 'Voor 16:00 besteld, <span class="mobile-u-text--green">morgen</span> in huis.';
    }

    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000,
      },
    });
  });
</script>
