{{ 'section-footer2.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  {% style %}
    .main-footer {
      margin-top: calc(var(--container-vertical-space) * -1);
    }
  {% endstyle %}


<footer class="footer2">
  <div class="container2">
    <div class="row2">
      <div class="footer2-col">
        <h4>Bedrijfsgegevens</h4>
        <ul>
          <li><a>KVK: 86985051</a></li>
          <li><a>BTW-nummer:</a></li>
          <li><a>Martinilaan 1, 5262 BR Vught</a></li>
          <li><a href="mailto:info@jonky.nl">Info@Jonky.nl</a></li>
        </ul>
      </div>
      <div class="footer2-col">
        <h4>Service</h4>
        <ul>
          <li><a href="https://jonky.nl/pages/faq">Veelgestelde Vragen</a></li>
          <li><a href="https://jonky.nl/pages/contact">Contact</a></li>
          <li><a href="https://jonky.nl/pages/verzending">Verzending</a></li>
          <li><a href="https://jonky.nl/policies/retour">Retour</a></li>
          <li><a href="https://jonky.nl/account">Account</a></li>
        </ul>
      </div>
      <div class="footer2-col">
        <h4>Assortiment</h4>
        <ul>
          <li><a href="https://jonky.nl/collections/witte-wijn">Witte Wijn</a></li>
          <li><a href="https://jonky.nl/collections/rode-wijn">Rode Wijn</a></li>
          <li><a href="https://jonky.nl/collections/rose-wijn">Rosé Wijn</a></li>
          <li><a href="https://jonky.nl/collections/Jonky-Wines">Alles Bekijken</a></li>
        </ul>
      </div>
      <div class="footer2-col">
        <h4>Volg Ons</h4>
        <div class="social-links2">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container-copyright">
    <div class="row justify-content-lg-between">
      <div class="col-12 d-lg-none">
        <span>© 2023 Jonky Wines, alle rechten voorbehouden.</span> <span class="divider">|</span>
        <a href="/algemene-voorwaarden/">Algemene Voorwaarden</a><span class="divider">|</span>
        <a href="/privacy/">Privacy</a><span class="divider">|</span>
        <a href="/cookies/">Cookies</a>
      </div>
      <div class="col-auto d-none d-lg-flex">
        <span>© 2023 Jonky Wines, alle rechten voorbehouden.</span>
      </div>
      <div class="col-auto d-none d-lg-flex">
        <a href="/algemene-voorwaarden/">Algemene Voorwaarden</a>
        <span class="divider">|</span> <a href="/privacy/">Privacy</a><span class="divider">|</span>
        <a href="/cookies/">Cookies</a>
      </div>
    </div>
  </div>
</div>
