/*
 *  1.0. Mixins
*/
@media screen and (min-width: 768px) {
  .rich-text:not(.rich-text--image-on-top) {
    display: flex;
  }
}
.rich-text .rich-text__title a {
  border-bottom: 3px solid;
}
.rich-text__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rich-text__container--image-top {
  grid-template-columns: 100%;
  justify-content: center;
  grid-template-areas: "image" "text";
}
.rich-text__container--image-right {
  grid-template-areas: "text image";
}
.rich-text__container--image-right .rich-text__image--fit img {
  object-position: left;
}
.rich-text__container--image-left {
  grid-template-areas: "image text";
}
.rich-text__container--image-left .rich-text__image--fit img {
  object-position: right;
}
@media screen and (max-width: 767px) {
  .rich-text__container {
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas: "image" "text";
  }
  .rich-text__container .rich-text__image {
    min-height: auto;
  }
  .rich-text__container--fullwidth .rich-text__text {
    width: 100%;
    padding-inline-start: var(--gutter-xlarge);
    padding-inline-end: var(--gutter-xlarge);
  }
}
@media screen and (min-width: 768px) {
  .rich-text__container .rich-text__image figure {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0 !important;
  }
}
.rich-text__text {
  grid-area: text;
}
.container--fullwidth .rich-text__container--image-right .rich-text__text {
  padding-top: var(--gutter-xlarge);
  padding-bottom: var(--gutter-xlarge);
  padding-inline-end: var(--gutter-large);
  padding-inline-start: calc((100vw - 1280px) / 2);
}
@media screen and (max-width: 1360px) {
  .container--fullwidth .rich-text__container--image-right .rich-text__text {
    padding-inline-start: var(--gutter-xlarge);
  }
}
@media screen and (max-width: 767px) {
  .container--fullwidth .rich-text__container--image-right .rich-text__text {
    padding: var(--gutter-xlarge);
  }
}
.container--fullwidth .rich-text__container--image-left .rich-text__text {
  padding-top: var(--gutter-xlarge);
  padding-bottom: var(--gutter-xlarge);
  padding-inline-start: var(--gutter-large);
  padding-inline-end: calc((100vw - 1280px) / 2);
}
@media screen and (max-width: 1360px) {
  .container--fullwidth .rich-text__container--image-left .rich-text__text {
    padding-inline-end: var(--gutter-xlarge);
  }
}
@media screen and (max-width: 767px) {
  .container--fullwidth .rich-text__container--image-left .rich-text__text {
    padding: var(--gutter-xlarge);
  }
}
@media screen and (min-width: 768px) {
  .container--fullwidth .rich-text__container--image-top .rich-text__text {
    width: 80%;
    margin: auto;
  }
  .container--fullwidth .rich-text__container--image-top .rich-text__text.align-content--horizontal-right {
    margin-inline-end: 0;
  }
  .container--fullwidth .rich-text__container--image-top .rich-text__text.align-content--horizontal-left {
    margin-inline-start: 0;
  }
}
.rich-text__image {
  grid-area: image;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.rich-text__image figure {
  width: 100%;
}
.rich-text__image--fit img {
  object-fit: contain !important;
}